main section#course-content {
    padding: 150px 0;
    border-bottom: 1px solid #33A8DB;
}

main section#course-content .container {
    width: 792px;
}

main section#course-content * {
    text-align: center;
}

main section h2,
main section p {
    margin-bottom: 24px;
}

main section#course-content h2,
main section#professional-challenges h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    color: #33A8DB;
}

main section#course-content .modules-list {
    max-width: 100%;
}

main section#course-content .modules-list .module {
    width: 535px;
    max-width: 80%;
    padding: 16px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}
main section#course-content .modules-list .module span {
    color: #33A8DB;
}

@media (max-width: 700px) {
    main section#course-content .modules-list .module {
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }

    main section#course-content .modules-list .module span {
        width: 100%;
    }
}

main section#transform-world {
    height: 170px;
    background-size: cover;
    background-image: url("../assets/images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

@media (max-width: 700px) {
    main section#transform-world {
        padding: 50px 3%;
        background-attachment: initial;
    }
}


main section#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}

main section#professional-challenges {
    border-bottom: 1px solid #33A8DB80;
}

main section#professional-challenges .container {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
    max-width: 100%;
}
